

<div class="row">

        
    <div class="img col-lg-4">
        
        <img class="img" src="../../assets/images/travels.png">
    </div>
        
       <div class="col-lg-8">
        
   
           <div class="panel panel-danger">
               <div class="panel-body" style="background-color: khaki;">
    <!-- <h1 >About me</h1> -->
    <div class="lead  mb-0">
    <p><b>Hariom Travels</b></p>
    <p >Contact:8779084850</p>
    <p><b>Ticket details: <a href="http://localhost:4200/bookings">click here!</a></b></p>

    <p><b>Booking ticket: <a href="http://localhost:4200/add">click here!</a></b></p>
   </div>
   
   </div>
   
   </div>

   

    </div>

   
        

